{% assign author = site.authors[post.author] %}

<div class="grid grid-cols-12 items-center gap-6">
    {% if post.image %}
    <div class="col-span-12 lg:col-span-7">
        <img src="{% if post.image contains " ://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{%
            endif %}" alt="{{ post.title }}" class="max-w-full h-auto rounded" />
    </div>
    {% endif %}

    <div class="col-span-12 lg:col-span-5">
        <div class="mt-6 lg:mt-0 lg:pl-6">
            <h4 class="font-medium text-2xl lg:text-[42px] lg:leading-[58px] mb-2">
                {{ post.title }}
            </h4>
            <p class="mt-3 mb-6 text-sm leading-7 text-gray-600">
                {{ post.excerpt | strip_html }}
            </p>
            <div class="text-base leading-5 flex items-center">
                {% if post.author %}
                <div class="mr-2">
                    {% if author.avatar %}
                    <img src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}"
                        class="h-auto max-w-full rounded-full border border-border" width="47" />
                    {% else %}
                    <img src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x"
                        alt="{{ author.display_name }}""
                        class=" h-auto max-w-full rounded-full border border-border" width="47" />
                    {% endif %}
                </div>
                <div>
                    <p class="text-sm leading-6 font-semibold text-gray-900">{{ author.display_name }}</p>
                    <p class="text-xs font-semibold text-gray-500">{{ post.date | date_to_string }}</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>