{% assign author = site.authors[post.author] %}

<article class="flex max-w-xl flex-col items-start justify-between mb-4">
    {% if post.image %}
    {% if site.lazyimages == "enabled" %}
    <img class="img-fluid lazyimg"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
        data-src="{% if post.image contains " ://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{%
        endif %}" alt="{{ post.title }}">
    {% else %}
    <a href="{{ site.baseurl }}{{ post.url }}" onclick="gtag('event', '{{ post.title }}', {
        event_category: '{{ post.title }}_Post',
        event_label: '{{ post.title }}_Post',
        value: 1
    })">
        <img src="{% if post.image contains " ://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{%
            endif %}" alt="{{ post.title }}" class="h-auto w-full rounded-md" />
    </a>

    {% endif %}
    {% endif %}

    <div class="flex items-center gap-x-4 text-xs font-semibold mt-6">
        <time datetime="2020-03-16" class="text-gray-500">{{ post.date | date_to_string }}</time>
        {% assign sortedCategories = page.categories | default: post.categories %}
        {% for category in sortedCategories %}
        <a href="{{ site.baseurl }}/categories#{{ category | replace: " ", " -" }}"
            class="relative z-10 rounded-full bg-gray-100 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-200"
            onclick="gtag('event', '{{ category }}_click', {
                event_category: '{{ category }}',
                event_label: '{{ category }}',
                value: 1
        })">
            {{ category }}
        </a>
        {% endfor %}
    </div>

    <div class="group relative">
        <h3 class="mt-3 line-clamp-2 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
            style="min-height: 3rem;">
            <a href="{{ site.baseurl }}{{ post.url }}" onclick="gtag('event', '{{ post.title }}', {
                event_category: '{{ post.title }}_Post',
                event_label: '{{ post.title }}_Post',
                value: 1
            })">
                <span class="absolute inset-0"></span>
                {{ post.title }}
            </a>
        </h3>
        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{ post.excerpt | strip_html | truncatewords:30}}
        </p>
    </div>

    <div class="relative mt-8 flex items-center gap-x-4">
        {% if post.author %}
        {% if author.avatar %}
        <img src="{{site.baseurl}}/{{ author.avatar }}" alt="{{ author.display_name }}"
            class="h-10 w-10 rounded-full bg-gray-50">
        {% else %}
        <img src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}"
            class="h-10 w-10 rounded-full bg-gray-50">
        {% endif %}
        <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
                <a href="{{ author.web }}">
                    <span class="absolute inset-0"></span>
                    {{ author.display_name }}
                </a>
            </p>
            <p class="text-gray-600">{{ author.role }}</p>
        </div>
        {% endif %}
    </div>
</article>