{% assign author = site.authors[post.author] %}

<div class="rounded-lg overflow-hidden mt-6 lg:mt-0">
    <div class="relative">
        {% if post.image %}
        {% if site.lazyimages == "enabled" %}
        <img class="w-full"
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII="
            data-src="{% if post.image contains " ://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{%
            endif %}" alt="{{ post.title }}">
        {% else %}
        <div class="relative w-full">
            <img src="{% if post.image contains '://' %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}"
                alt="{{ post.title }}" class="w-full">
            <div class="absolute inset-0 bg-gradient-to-t from-black via-black/70 to-transparent opacity-80"></div>
        </div>
        {% endif %}
        {% endif %}

        <div class="absolute bottom-0 flex flex-col justify-start items-start w-full text-white px-12 pb-6">
            <div class="flex items-center gap-x-4 text-xs mt-6">
                <time datetime="2020-03-16" class="text-gray-300 font-semibold">{{ post.date | date_to_string }}</time>
            </div>
            <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
                <a href="{{ site.baseurl }}{{ post.url }}" onclick="gtag('event', '{{ post.title }}_click', {
                    event_category: '{{ post.title }}_Post',
                    event_label: '{{ post.title }}_Post',
                    value: 1
                })">
                    <span class="absolute inset-0"></span>
                    {{ post.title }}
                </a>
            </h3>
        </div>
    </div>
</div>