<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{ site.baseurl }}/assets/images/purple.ico">

    <title>{{site.name}}</title>

    {% seo %}

    <link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/main.scss" rel="stylesheet">
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

    <script src="https://cdn.tailwindcss.com"></script>
    <script
        src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ME9C2S2TB3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-ME9C2S2TB3');
    </script>
</head>



{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}

<body class="{{layout}}">
    <!-- defer loading of font and font awesome -->
    <noscript id="deferred-styles">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
            integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">
    </noscript>

    <header class="bg-white">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="/" class="-m-1.5 p-1.5">
                    <span class="sr-only">StackKnack</span>
                    <img class="h-8 w-auto" src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
                </a>
            </div>
            <div class="flex lg:hidden">
                <button type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Open main menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
            <div class="hidden lg:flex lg:gap-x-12">
                <a class="text-sm font-semibold leading-6 text-gray-900" href="{{ site.baseurl }}/all_posts" onclick="gtag('event', 'all_posts_click', {
                    event_category: 'All Blogs',
                    event_label: 'All Blogs',
                    value: 1
                })">Blogs</a>
                <a class=" text-sm font-semibold leading-6 text-gray-900" href="{{ site.baseurl }}/about" onclick="gtag('event', 'about_click', {
                    event_category: 'About',
                    event_label: 'About',
                    value: 1
                })">About</a>
            </div>
        </nav>

        <!-- <div class="lg:hidden" role="dialog" aria-modal="true">
            <div class="fixed inset-0 z-10"></div>
            <div
                class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                <div class="flex items-center justify-between">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">StackKnack</span>
                        <img class="h-8 w-auto" src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
                    </a>
                    <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Close menu</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="mt-6 flow-root">
                    <div class="-my-6 divide-y divide-gray-500/10">
                        <div class="space-y-2 py-6">
                            <a href="{{ site.baseurl }}/index.html"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Blogs</a>
                            <a href="#"
                                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">About</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </header>

    <div>
        {{ content }}
    </div>

    <script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>

    {% if site.lazyimages == "enabled" %}
    <script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
    {% endif %}

    <script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>

    {% if page.layout == 'post' %}
    <script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
    {% endif %}

</body>

</html>
